apiVersion: apps/v1
kind: Deployment
metadata:
  name: whishlist-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: whishlist
  template:
    metadata:
      labels:
        app: whishlist
    spec:
      containers:
      - name: whishlist
        image: mpolski/whishlist:1.0
        imagePullPolicy: "Always"
        ports:
          - containerPort: 8080
        env:
          - name: PG_CONNSTRING
            valueFrom:
              configMapKeyRef:
                name: whishlist-db-connstr
                key: PG_CONNSTRING

